<head>
  <title>Error 404</title>
</head>


{{!-- Contenido --}}
<div class="content">
  <div class="container-fluid">

    <div class="row justify-content-center mt-4">
      <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="error-ghost text-center">
              <img src="img/errores/error404.png" width="100%" alt="error-image"/>
          </div>

          <div class="text-center">
              <h3 class="mt-4 text-uppercase font-weight-bold">¡Página no encontrada!</h3>
              <p class="text-muted mb-0 mt-3" style="line-height: 20px;">Estas intentando buscar o acceder a algo que no existe.</p>

              <a class="btn btn-outline-secondary mt-3" href="/Login"><i class="mdi mdi-reply mr-1"></i> Regresar</a>
          </div>
        </div>
    </div>
  </div>
</div>
{{!-- Fin Contenido --}}