<head>

  <title>Form</title>

</head>

<body class="authentication-bg authentication-bg-pattern">

  <div class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
    <ul class="list-unstyled topnav-menu float-right mb-0">
      <li class="dropdown notification-list">
        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button"
          aria-haspopup="false" aria-expanded="false">
          <i class="fe-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
          <a href="/login" class="dropdown-item notify-item">
            <i class="fe-user"></i>
            <span>Login</span>
          </a>
        </div>
      </li>
    </ul>
  </div>

  {{!-- Contenido Login --}}
  <div class="account-pages mt-5 mb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-12 col-xl-8">
          <div class="card card1">

            <div class="text-center w-55 m-auto">
              <center><img height="130" src="img/logo/logo.jpg" alt="Responsive image" /></center>
            </div>

            <div class="card-body p-1">
              {{> message }}
              <center class="p-4">
                <h1>LANDING PAGE WOM</h1>
              </center>

              <form action="/form" method="POST" id="formulario_escalamiento">
                <div class="form-row">

                  <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <label class="form-control-label text-muted" for="txtcasott">Caso TT</label>
    <div class="autocomplete">
        <input type="text" name="casott" id="txtcasott" class="form-control" data-toggle="tooltip"
            data-placement="bottom" placeholder="" autocomplete="off" maxlength="20" autofocus required>
        <ul id="sugerencias" class="autocomplete-list"></ul>
    </div>
    <div id="casottWarning" class="text-danger"></div>
</div>


                  <body>
                    <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
                      <div class="input-group-prepend">
                        <label for="txtescalamiento" class="form-control-label text-muted">¿Ha sido escalado
                          anteriormente?</label>
                      </div>
                      <select class="custom-select form-control" name="escalamiento" id="txtescalamiento" required>
                        <option value="">Elige una opción</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                      </select>
                    </div>

                    <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6" id="causalEscalamiento">
                      <div class="input-group-prepend">
                        <label class="form-control-label text-muted" for="txttipo_causal">Causal de escalamiento</label>
                      </div>
                      <select class="custom-select form-control" name="causal" id="txtipos_causal" autofocus required>
                        <option value="">Elige una opción</option>
                      </select>
                    </div>

                    <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
                      <div class="input-group-prepend">
                        <label for="txtsegmento" class="form-control-label text-muted">Segmento</label>
                      </div>
                      <select class="custom-select form-control" name="segmento" id="txtsegmento" required>
                        <option value="">Elige una opción</option>
                        <option value="B2B">B2B</option>
                        <option value="B2B">B2C</option>
                      </select>
                    </div>

                  </body>

                  <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="input-group-prepend">
                      <label for="txtregional" class="form-control-label text-muted">Elige Regional</label>
                    </div>
                    <select class="custom-select form-control" name="regional" id="txtregional" autofocus required>
                      <option value="">Elige una opción</option>
                      <option value="Antioquia">Regional Antioquia</option>
                      <option value="Centro">Regional Centro.</option>
                      <option value="Costa">Regional Costa.</option>
                      <option value="Eje Cafetero">Regional Eje Cafetero.</option>
                      <option value="Occidente">Regional Occidente.</option>
                      <option value="Oriente">Regional Oriente.</option>
                    </select>
                  </div>

                  <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label class="form-control-label text-muted" for="txttipo_transaccion">Tipo de transacción</label>
                    <select class="custom-select form-control" name="tipo_transaccion" id="txttipo_transaccion"
                      required>
                      <option value="">Elige una opción</option>
                      <option value="Venta">Venta</option>
                      <option value="Posventa">Pos venta</option>
                      <option value="Cambio de numero">Cambio de número</option>
                    </select>
                  </div>

                  <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6" id="opcionesTransaccion">
                    <div class="input-group-prepend">
                      <label class="form-control-label text-muted" for="txtpos_venta">Transacción</label>
                    </div>
                    <select class="custom-select form-control" name="transaccion" id="txtpos_venta" autofocus required>
                      <option value="">Elige una opción</option>
                    </select>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label class="form-control-label text-muted" for="txtnombres">
                      Nombre Asesor</label>
                    <input type="text" name="asesor" id="txtnombres" class="form-control" data-toggle="tooltip"
                      data-placement="bottom" placeholder="Ej: Daniel Dominguez" onkeyup="mayus(this);" autocomplete="off" maxlength="100"
                      title="Ingrese unicamente el primer nombre y apellido del creador separados por un espacio."
                      required>
                  </div>

                  <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label class="form-control-label text-muted" for="txttelefono">Telefono Asesor</label>
                    <input type="tel" name="telefono_asesor" id="txttelefono" class="form-control" data-toggle="tooltip"
                      data-placement="bottom" placeholder="" onkeypress="return numerosContacto(event)"
                      autocomplete="off" maxlength="10" required>
                  </div>

                  <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label class="form-control-label text-muted" for="txtcodigo">Código EKIA</label>
                    <input type="tel" name="codigo" id="txtcodigo" class="form-control" data-toggle="tooltip"
                      data-placement="bottom" placeholder="" onkeypress="return numerosContacto(event)"
                      autocomplete="off" maxlength="10" required>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="input-group-prepend">
                      <label for="txtcanal_ventas" class="form-control-label text-muted">Canal de ventas</label>
                    </div>
                    <select class="custom-select form-control" name="canal_ventas" id="txtcanal_ventas" autofocus
                      required>
                      <option value="">Elige una opción</option>
                      <option value="Tiendas">Tiendas.</option>
                      <option value="Kioscos">Kioscos.</option>
                      <option value="Inbound">Inbound.</option>
                      <option value="Outbound">Outbound</option>
                      <option value="Cadenas">Cadenas.</option>
                      <option value="Call Center">Call Center.</option>
                      <option value="Fuerza de Venta Indirecta">Fuerza de Venta Indirecta.</option>
                      <option value="Desplegable">Desplegable</option>
                    </select>
                  </div>

                </div>
                <div class="form-group mb-0 text-center">
                  <button type="submit" id="inicio_sesion"
                    class="btn btn-secondary btn-rounded waves-effect waves-light">
                    <span class="btn-label"><i class="fas fa-sign-in-alt"></i></span>Enviar Datos
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- Fin Contenido Login --}}
</body>


<script src="js/reporting/formulario_escalamiento.js"></script>