<head>

  <title>Registro</title>

</head>

<body class="authentication-bg authentication-bg-pattern">
  <div class="container px-4 py-5 mx-auto">
    <div class="card card3">
      <div class="d-flex flex-lg-row flex-column-reverse">

        <div class="card card1">          
          <div class="row justify-content-center my-auto px-4">
            <div class="col-md-12 col-10">

              {{> message }} 

              <div class="text-center w-75 m-auto">
                <center><img height="130" src="img/logo/logo.jpg" alt="Responsive image" /></center>
              </div>

              <h6 class="msg-info">Por favor, registre su cuenta</h6>

              <form action="/Registro" method="POST">
                <div class="form-row">
                  <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label class="form-control-label text-muted" for="txtdocumento_usuario">Documento</label>
                    <input type="text" name="documento" id="txtdocumento_usuario" class="form-control"
                      data-toggle="tooltip" data-placement="bottom" placeholder="" onkeyup="mayus(this);" autocomplete="off" required>
                  </div>

                  <div class="form-group col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <label class="form-control-label text-muted" for="txtnombres_apellidos_usuario">Nombres y Apellidos</label>
                    <input type="text" name="fullname" id="txtnombres_apellidos_usuario" class="form-control"
                      data-toggle="tooltip" data-placement="bottom" placeholder="" onkeyup="mayus(this);" autocomplete="off" required>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label class="form-control-label text-muted" for="txtusuario_red">Usuario</label>
                    <input type="text" name="username" id="txtusuario_red" class="form-control" data-toggle="tooltip"
                      data-placement="bottom" placeholder="" onkeyup="mayus(this);"
                      autocomplete="off" required>
                  </div>

                  <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label class="form-control-label text-muted" for="txtpassword_usuario">Constraseña</label>
                    <input type="password" name="password" id="txtpassword_usuario" class="form-control"
                      data-toggle="tooltip" data-placement="bottom" placeholder="" autocomplete="off" required>
                  </div>
                  
                  <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <div class="input-group-prepend">
                        <label for="txtrol" class="form-control-label text-muted">Rol</label>
                      </div>
                      <select class="custom-select form-control" name="rol" id="txtrol" required>
                        <option value="">Elige una opción</option>
                        <option value="Administrador">Administrador</option>
                        <option value="Gestor">Gestor</option>
                      </select>
                    </div>

                </div>

                <div class="row justify-content-center px-3">
                  <button type="submit" class="btn-block btn-color">Registrar</button>
                </div>

                <div class="login_btn_wrapper">
                </div>              

                <div class="row mt-3">
                  <div class="col-12 text-center">
                    <p class="text-muted">Ya tienes una cuenta? <a href="/Login" class="text-muted ml-1"><b
                          class="font-weight-semibold">Ingresar</b></a></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> 
</body>