<div class="d-flex flex-column align-items-center justify-content-center vh-100">
  <div class="card4 text-center" style="border: 2px dashed #474747;">
    <div class="card-header" style="background-color: #2F1E4A; color: white;">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Cargue de Archivos</h5>
      <p class="card-text">SELECCIONE EL ARCHIVO EN FORMATO (EXCEL)</p>
      <button class="btn btn-primary file-button" onclick="document.getElementById('fileInput').click();">
        <i class="fas fa-file-excel"></i> Seleccionar Excel
      </button>
      <input type="file" id="fileInput" accept=".xlsx" style="display: none;" onchange="handleFileUpload(this)">
      <div id="uploadStatus" class="mt-3"></div>
      <div id="fileName" class="mt-3"></div>
    </div>
    <div class="card-footer text-muted" id="updateTimeFooter" style="background-color: #2F1E4A; color: white;">
      Última actualización: <span id="lastUpdateTime"></span>
    </div>
  </div>
  <button class="btn btn-lg mt-3" onclick="document.getElementById('fileInput').click();" style="background-color: #2F1E4A; width: 340px;">
    <i class="fas fa-file-excel"></i> Cargar documento
  </button>
</div>

<script src="js/reporting/cargador.js"></script>
<script src="js/reporting/usuarios_diponibles.js"></script>
<script src="js/reporting/flujos_disponibles.js"></script>